<label>Server Name</label>
<!-- <input type="text" class="form-control" (input)="onUpdateServerName($event)" /> -->
<input type="text" class="form-control" [(ngModel)]="serverName" />
<!-- <p>{{ serverName }}</p> -->

<button
  class="btn btn-primary"
  [disabled]="!allowNewServer"
  (click)="onCreateServer()"
>
  Add Server
</button>

<!-- Example using String interpolation vs Property Binding -->

<!-- STRING INTERPOLATION -->
<!-- <p>{{ allowNewServer }}</p> -->

<!-- PROPERTY BINDING -->
<!-- <p [innerText]="allowNewServer"></p> -->
<!-- innerText property it's text that's between tags -->

<!-- EVENT BINDING -->
<!-- <p>{{ serverCreationStatus }}</p> -->

<!-- NOTA
  Using ngIf and output data conditionally -->
<!-- <p *ngIf="serverCreated">Server was created, server name is {{ serverName }}</p> -->

<!-- Enhancing ngIf with an Else condition -->
<p *ngIf="serverCreated; else noServer">
  Server was created, server name is {{ serverName }}
</p>
<ng-template #noServer>
  <p>No server was created!</p>
</ng-template>

<app-server *ngFor="let serv of servers"></app-server>
